# ==========================================
# YFF SECRETS
# ==========================================

.env
.env.local
.env.production


# ==========================================
# IDE
# ==========================================

.vscode/
.idea/


# ==========================================
# OS
# ==========================================

.DS_Store
Thumbs.db


# ==========================================
# LOGS
# ==========================================

*.log


# ==========================================
# TEMPORARY FILES
# ==========================================

*.tmp
*.temp